body,html,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    font-size: 13px !important;
}
.el-steps{
    margin:15px 0;
}
.el-step__title{
    font-size:13px !important;
}
.ql-editor{
    height: 300px !important;
}